:root {
    --green-50: #95c856;
    --green-45: #aed67f;
    --green-40: #bcdd95;
    --green-35: #c4e1a2;
    --green-30: #d6eabe;
    --green-25: #e5f2d6;
    --green-20: #f2f8ea;
    --green-15: #f7fbf3;
    --green-10: #fbfdf8;
    --blue-50: #4195d5;
    --blue-45: #71b0e0;
    --blue-40: #89bde5;
    --blue-35: #98c5e8;
    --blue-30: #b7d7ef;
    --blue-25: #d7e9f6;
    --blue-20: #e8f2fa;
    --blue-15: #f2f7fc;
    --blue-10: #f8fbfe;
    --darkblue-50: #133f5d;
    --darkblue-45: #4e6f86;
    --darkblue-40: #6d889b;
    --darkblue-35: #7f97a7;
    --darkblue-30: #a5b6c1;
    --darkblue-25: #c7d1d8;
    --darkblue-20: #e2e8eb;
    --darkblue-15: #eef1f4;
    --darkblue-10: #f6f8f9;
    --darkgrey-50: #3c5467;
    --darkgrey-45: #6d7f8d;
    --darkgrey-40: #8695a1;
    --darkgrey-35: #95a2ad;
    --darkgrey-30: #b5bec5;
    --darkgrey-25: #d0d6db;
    --darkgrey-20: #e7eaec;
    --darkgrey-15: #f1f3f4;
    --darkgrey-10: #f7f8f9;
    --grey-50: #c8cfd5;
    --grey-45: #d6dbe0;
    --grey-40: #dde1e5;
    --grey-35: #e1e5e8;
    --grey-30: #eaedef;
    --grey-25: #f2f4f5;
    --grey-20: #f8f9fa;
    --grey-15: #fbfbfc;
    --grey-10: #fdfdfe;
    --red-50: #e35273;
    --red-45: #ea7d96;
    --red-40: #ee94a8;
    --red-35: #f0a1b3;
    --red-30: #f4bdca;
    --red-25: #f8d6de;
    --red-20: #fbeaee;
    --red-15: #fdf3f5;
    --red-10: #fef8fa;
    --darkred-50: #d06060;
    --darkred-45: #dc8888;
    --darkred-40: #e29d9d;
    --darkred-35: #e5a9a9;
    --darkred-30: #edc2c2;
    --darkred-25: #f4d9d9;
    --darkred-20: #f9ecec;
    --darkred-15: #fcf4f4;
    --darkred-10: #fdf9f9;
    --orange-50: #f37d51;
    --orange-45: #f69e7d;
    --orange-40: #f8ae93;
    --orange-35: #f8b8a1;
    --orange-30: #facdbd;
    --orange-25: #fce0d5;
    --orange-20: #fdefea;
    --orange-15: #fef6f3;
    --orange-10: #fffaf8;
    --yellow-50: #eab11c;
    --yellow-45: #efc555;
    --yellow-40: #f2cf72;
    --yellow-35: #f3d584;
    --yellow-30: #f7e1a9;
    --yellow-25: #faecc9;
    --yellow-20: #fcf5e3;
    --yellow-15: #fdf9ef;
    --yellow-10: #fefcf6;
    --white-10: #ffffff;
    --black-50: #000000;
}
